@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Smith Electronics</h1>
    <p>Browse our wide variety of products at the cheapest prices locally <a asp-area="" asp-controller="Products" asp-action="Index">here</a></a>!</p>
</div>
