@model CatalogModel
@{
    ViewData["Title"] = "PhonesCategory";
}

<h1>PhonesCategory</h1>

<hr />
<div>
    @Html.Partial("SearchProductPartial", Model)
</div>

<hr />


<div class="container">
    <div class="row">
        @Html.Partial("ProductDisplayPartial", Model)
    </div>
</div>